apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: {{ project_slug }}-prod

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: {{ project_slug }}
      spec:
        replicas: 3
        template:
          spec:
            containers:
              - name: {{ project_slug }}
                resources:
                  requests:
                    cpu: 250m
                    memory: 512Mi
                  limits:
                    cpu: "1"
                    memory: 1Gi
