# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
dist
build
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov
coverage.xml

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*
compose*

# Docs
docs/
docs_internal/

# CI
.github
.trunk
.pre-commit-config.yaml

# Frontend (if present)
node_modules
.next
.turbo
