# Code Owners for {{ project_name }}
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @OWNER

# Python source
src/ @OWNER

# Infrastructure
infra/ @OWNER
k8s/ @OWNER
