Getting Started
===============

Installation
------------

Install {{ project_name }} using pip:

.. code-block:: bash

   pip install {{ project_name }}

Quick Start
-----------

.. code-block:: python

   import {{ project_slug }}

Refer to the :doc:`api/index` for detailed usage information.
