title: "[Idea]: "
labels:
  - idea
body:
  - type: markdown
    attributes:
      value: |
        Share your ideas for {{ project_name }}!
  - type: textarea
    id: idea
    attributes:
      label: Idea
      description: Describe your idea.
    validations:
      required: true
  - type: textarea
    id: motivation
    attributes:
      label: Motivation
      description: Why would this be useful?
