{
  "cells": [
    {
      "cell_type": "markdown",
      "metadata": {},
      "source": ["# {{ project_name }}\n", "\n", "Getting started notebook."]
    },
    {
      "cell_type": "code",
      "execution_count": null,
      "metadata": {},
      "outputs": [],
      "source": ["import {{ project_slug }}"]
    }
  ],
  "metadata": {
    "kernelspec": {
      "display_name": "Python 3",
      "language": "python",
      "name": "python3"
    },
    "language_info": {
      "name": "python",
      "version": "{{ python_version }}"
    }
  },
  "nbformat": 4,
  "nbformat_minor": 5
}
